* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.row>* {
padding-left: 5px;
}

.copyright {
margin-left: 13px;
margin-bottom: 13px;
}

.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.icon-list .option img {
background-color: #000000 !important;
padding: 10px;
}

.download-history {
justify-content: center;
align-items: center;
}

.download-history img {
width: 90px !important;
height: 90px !important;
border-radius: 5px;
margin-bottom: 5px;
margin-right: 5px;
}

.sm-t {
font-size: 13px;
}

.options-container {
overflow-y: scroll !important;
height: 340px;
width: 100%;
}

.option img {
border-radius: 4px;
background-color: #000000;
cursor: pointer;
transition: 0.3s;
margin-right: 2px;
}

.option img:hover {
opacity: 60%;
}

.option {
margin-bottom: 5px;
}

.hrdivider {
  position: relative;
  margin-bottom: 20px;
  width: 90%;
  text-align: left;
}

.hrdivider span {
  position: absolute;
  top: -12px;
  background: #fff;
  padding: 0 5px;
  font-size: 15px;
}

.img3 {
width: 70px;
display: block;
top: 380px;
left: 215px;
align-items: center;
justify-content: center;
}

.custom-ui {
margin-bottom: 165px;
}

.preview-holder {
min-width: 500px;
min-height: 500px;
width: 500px;
height: 500px;
position: relative;
margin: 10px;
}

.img1 { /*avatar*/
      position:absolute;
      z-index: 1;
}

.img2 { /*overlay*/
      position:absolute;
      z-index: 2;
}

.img3 {  /*icon*/
      position:absolute;
      z-index: 2;
}

.tab-section {
  float: left;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  height: 50px;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  height: 190px;
}

.tab button, .tab-section button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 5px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.tab button:hover, .tab-section button:hover {
  background-color: #ddd;
}

.tab button.active {
  border-radius: 3px;
  font-size: 14px;
  background-color: black;
  color: white;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}

.fl {
color: #aaa;
font-size: 12px;
text-decoration: none;
white-space: pre-line;
}

.navbar .container a {
color: #000000;
text-decoration: none;
}

.navbar .container .social-media a {
margin-right: 10px;
}
.main {
margin-top: 100px;
}
.parent-loader {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#spinner {
    margin: 0;
    position: absolute;
    top: 40%;
    right: 45% !important;
    left: 45% !important;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
  z-index: 10;
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.basic-animation {
  position: relative;
  animation-name: basicanimation;
  animation-duration: 2s;
  -moz-animation-name: basicanimation;
  -webkit-animation-name: basicanimation;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
@keyframes basicanimation { 
  from{ opacity: 0; } 
  to{ opacity: 1; }
}
@-webkit-keyframes basicanimation {
  from { opacity: 0; } 
  to { opacity: 1; }
}

#content-header, #content-body {
opacity: 0;
}
