.parent-loader {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#spinner {
    margin: 0;
    position: absolute;
    top: 40%;
    right: 45% !important;
    left: 45% !important;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
  z-index: 10;
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.basic-animation {
  position: relative;
  animation-name: basicanimation;
  animation-duration: 2s;
  -moz-animation-name: basicanimation;
  -webkit-animation-name: basicanimation;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
@keyframes basicanimation { 
  from{ opacity: 0; } 
  to{ opacity: 1; }
}
@-webkit-keyframes basicanimation {
  from { opacity: 0; } 
  to { opacity: 1; }
}
#content {
  display: none;
}

.but-dark {
background-color: #101010 !important;
}
.download-history {
justify-content: center;
align-items: center;
}
.download-history img {
width: 100px !important;
height: 100px !important;
border: 1px solid black;
padding: 5px;
margin-bottom: 4px;
margin-right: 4px;
}
.frame-view {
border: 1px solid black;
width: 80%;
padding: 5px;
justify-content: center;
align-items: center;
}
.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #0d6efd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d6efd;
  cursor: pointer;
}
#holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.frame-view {
   width: 350px;
   height: 350px;
   border: solid;
}

.image-preview {
position: relative;
top: 0;
left: 0;
justify-content: center;
align-items: center;
}
.image-icon {
position: absolute;
top: 0px;
left: 0px;
z-index: 100;
justify-content: center;
align-items: center;
}
.image-overlay {
position: absolute;
top: 0px;
left: 0px;
justify-content: center;
align-items: center;
}

footer p a {
text-decoration: none;
}
.subttl {
color: #aaa;
text-decoration: none;
font-size: 13px;
font-weight: normal;
}
.option {
border-radius: 5px;
border: 1px solid #aaa;
padding: 5px;
margin: 1px;
cursor: pointer;
}
.option img {
border-radius: 4px;
}
.option:hover {
border: 1px solid blue;
}

.container {
margin-left: 10px;
margin-right: 10px;
}
.invert {
filter: invert();
}
.container {
margin-top: 50px;
}
.box {
background-color: #242424;
}

/*discord preview*/
.discord-preview {
    background: #36393f;
    padding: 20px;
    border-radius: 6px;
    display: block;
}

.discord-preview .thumb-color {
    width: 45px;
    height: 45px;
    border-radius: 210px;
    margin: 0;
}


.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.discord-preview .thumb-color img {
    padding-right: 10px !important;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

.discord-preview .title-item {
    font-family: Lato,sans-serif;
    color: #fff;
}

.discord-preview p {
    color: rgba(255,255,255,.85);
    font-size: 14px;
    margin-bottom: 0;
}
